<% layout("/layouts/boilerplate") %>
    <div class="row">
    <div class="col-8 offset-2">
        <br>
    <h3>New Listing Of Property: </h3>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label><br>
        <input type="text" placeholder="Give a title" name="listing[title]" id="title" class="form-control" required>
        <div class="valid-feedback">
            Looks good!
          </div>
    </div>
    
    <div class="mb-3">
        <label for="description" class="form-label">Description</label><br>
        <textarea name="listing[description]" placeholder="Write a Description" id="description" class="form-control" required></textarea>
        <div class="invalid-feedback">
            Please provide a Short Description.
          </div>
    </div>
    
    <div class="mb-3">
        <label for="image" class="form-label">Upload an Image</label><br>
        <input type="file" name="listing[image]" id="image" class="form-control" required>
    </div>
    
    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label><br>
            <input type="text" placeholder="what is the price" name="listing[price]" id="price" class="form-control" required>
            <div class="invalid-feedback">
                Please provide a valid Price.
              </div>
        </div>
    
        <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label><br>
            <input type="text" placeholder="Location" name="listing[location]" id="location" class="form-control" required>
            <div class="invalid-feedback">
                Please provide a valid city.
              </div>
        </div>
    </div>
    
    <div class="mb-3">
        <label for="country" class="form-label">Country</label><br>
        <input type="text" placeholder="country" name="listing[country]" id="country" class="form-control" required>
        <div class="invalid-feedback">
            Please provide a valid country name.
          </div>
    </div>

    <button class="btn btn-dark">Submit</button>
   </form><br>
</div>
</div>
